ion-slides {
    --bullet-background: black;
    height: 36vh;
    div{
        height: 26vh;
        width: 97%;
        margin: auto;
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 5px;
    }
}

 